<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/fire.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Responsive made Easy</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
     href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&family=Roboto:wght@300;400&display=swap"
     rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="bg-light text-center">
      <div class="container container--narrow">
        <p>Lorem, ipsum dolor.</p>
        <h1>Responsive layouts don't have to be a struggle</h1>
      </div>
    </header>

    <section>
      <div class="container">
        <h2 class="text-center">Quality Designs</h2>
        <div class="split">
          <div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi id odit eligendi delectus, et expedita doloremque numquam, aperiam adipisci, aut veritatis saepe qui neque perspiciatis.</p>
          </div>
          <div>
            <p>Aut fugiat ut vel voluptate optio necessitatibus reprehenderit pariatur sit, iste corporis architecto recusandae perferendis veritatis hic quod, delectus voluptatibus consequatur! Ducimus fugiat earum corporis!</p>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-dark">
      <div class="container">
        <div class="split">
          <div>
            <h2>Made custom for you</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nesciunt dolores beatae cum porro debitis facere?</p>
          </div>
          <div>
            <img src="images/sunset.jpg" alt="sunset">
          </div>
        </div>
      </div>
    </section>

    <section class="bg-accent">
      <div class="container">
        <div class="split">
          <div>
            <img src="images/dawn.jpg" alt="dawn">
          </div>
          <div>
            <h2>Created with care</h2>
            <p>felis, ut aliquam mauris. Nulla facilisi. Nullam nec nisl at magna vehicula aliquam. Nulla facilisi. Nullam nec nisl at magna vehicula aliquam.</p>
            </p>
          </div>
        </div>
      </div>
    </section>



    <script type="module" src="/main.js"></script>
  </body>
</html>
