:root {
  --clr-primary-300: #f3eed9;
  --clr-primary-400: #824936;

  --clr-neutral-100: #f7f7f7;
  --clr-neutral-900: #30123b;

  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  font-size: 1.3125rem;
  font-weight: 400;
  line-height: 1.6;
}

body,
h1,
h2,
h3,
p {
  margin: 0;
  
}

h1,
h2,
h3 {
  color: var(--clr-primary-400);
  font-family: var(--ff-accent);
  line-height: 1;
  font-weight: 900;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 3rem 0;
}

@media (min-width: 40em) {
  header,
  section {
    padding: 7rem 0;
  }
}

.container {
  margin-inline: auto;
  width: min(90%, 70.5rem);
}

.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
    flex-direction: row;
  }

  .split > * {
    flex-basis: 100%;
  }

  .split > * + * {
    margin-left: 2em;
  }
}

.container--narrow {
  width: min(90%, 35rem);
}

.bg-light {
  background-color: var(--clr-primary-300);
}

.bg-dark {
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
}

.bg-accent {
  color: var(--clr-neutral-100);
  background-color: var(--clr-primary-400);
}

.bg-accent h2,
.bg-dark h2 {
  color: var(--clr-primary-300);
}